# Real-World Scientific Validation: GSE10072

**Target:** Lung Adenocarcinoma vs. Normal Tissue
**Accuracy:** 0.9697

## Identified Lung Cancer Biomarkers
| Gene ID | Symbol | Biological Name | Pathway | Summary |
|---|---|---|---|---|
| VWF | VWF | von Willebrand factor | Hemostasis | This gene encodes a glycoprotein involved in hemostasis. The encoded prepro... |
| ZNF106 | ZNF106 | zinc finger protein 106 | Metabolic Homeostasis | Enables RNA binding activity. Predicted to be involved in insulin receptor ... |
| SLIT3 | SLIT3 | slit guidance ligand 3 | Developmental Biology | The protein encoded by this gene is secreted, likely interacting with round... |
| EDNRB | EDNRB | endothelin receptor type B | Developmental Biology | The protein encoded by this gene is a G protein-coupled receptor which acti... |
| SVEP1 | SVEP1 | sushi, von Willebrand factor type A, EGF and pentraxin domain containing 1 | Metabolic Homeostasis | Predicted to enable calcium ion binding activity and chromatin binding acti... |
| LIMS2 | LIMS2 | LIM zinc finger domain containing 2 | Cell-Cell communication | This gene encodes a member of a small family of focal adhesion proteins whi... |
| TAL1 | TAL1 | TAL bHLH transcription factor 1, erythroid differentiation factor | Developmental Biology | Enables several functions, including DNA-binding transcription factor activ... |
| TACC1 | TACC1 | transforming acidic coiled-coil containing protein 1 | Signaling Pathway | This locus may represent a breast cancer candidate gene. It is located clos... |
| PECAM1 | PECAM1 | platelet and endothelial cell adhesion molecule 1 | Hemostasis | The protein encoded by this gene is found on the surface of platelets, mono... |
| FXYD6 | FXYD6 | FXYD domain containing ion transport regulator 6 | Disease | This gene encodes a member of the FXYD family of transmembrane proteins. Th... |